.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000;
}

.sidebar a:hover {
    background-color: #ddd;
}

/* CSS for content */
.content {
    margin-left: 220px;
    padding: 20px;
}

header {
    background-color: #0067b1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav ul {
    list-style: none;
    padding-left: 30px;
    padding-top: 20px;
  }
  
  nav ul li {
    padding: 8px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    /*no clue why this works but stays in line, covers the thing and doesnt go*/
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    border-radius: 25px;
  }
  
  nav ul li a:hover {
    color: #d4d5d9;
    background-color: #3788e5;
  }

  